.about {
  min-height: calc(100vh - var(--navabar-height));
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__pseudo-padding {
  flex: 1;
}

.about__pseudo-padding-top {
  min-height: 5em;
}

.about__desc {
  font-size: 1.2em;
  text-align: left;
}

.about__contact {
  justify-content: center;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .btn--outline {
  margin-right: 1.2em;
}

.about .link--icon {
  margin-right: 0.8em;
}

@media (max-width: 600px) {
  .about__pseudo-padding-top {
    min-height: 3em;
  }
}
