.project {
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project:hover {
  transform: translateY(-7px);
}

.project__thumbnail {
  width: 100%;
  height: 150px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  object-fit: cover;
}

.project__description {
  margin-top: 1rem;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2rem 0;
}

.project__stack-item {
  margin: 0.5rem;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-right: 0.5rem;
}

.project .link--icon:last-child {
  margin-right: 0;
}
